* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body .header {
  display: flex;
  background-color: rgba(198, 247, 238, 0.3);
  position: absolute;
  width: 100%;
  height: 183px;
  left: 0px;
  top: -3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 22px; }
  body .header .headerContainer {
    margin: 0 auto;
    display: flex;
    align-items: center; }
    body .header .headerContainer .backBtn {
      display: none; }
    body .header .headerContainer .logo {
      height: 61px; }
    body .header .headerContainer .logo-smartphone {
      display: none; }
    body .header .headerContainer .notificaciones {
      display: none; }
    body .header .headerContainer .navbar ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 10px 153px 0 153px;
      width: 650px; }
      body .header .headerContainer .navbar ul a {
        text-decoration: none;
        color: black;
        transition: all .2s; }
        body .header .headerContainer .navbar ul a:hover {
          color: #47DBC2; }
        body .header .headerContainer .navbar ul a img {
          display: none; }
    body .header .headerContainer .inicioSesionBtn {
      background-color: #2FEDC8;
      color: #5B3D80; }
      body .header .headerContainer .inicioSesionBtn:hover {
        background-color: #5B3D80;
        color: #19ebc4;
        transition: all .2s; }
    body .header .headerContainer .registrarmeBtn {
      background-color: #5B3D80;
      color: white; }
      body .header .headerContainer .registrarmeBtn:hover {
        background-color: #19ebc4;
        color: #5B3D80;
        transition: all .2s; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      width: 185px;
      height: 45px;
      border-radius: 100px;
      border: none;
      margin: 0 25px 0 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
      cursor: pointer; }

@media (max-width: 1580px) {
  body .header {
    font-size: 18px; }
    body .header .headerContainer .navbar ul {
      margin: 10px 83px 0 93px;
      width: 550px; } }

@media (max-width: 1370px) {
  body .header {
    font-size: 16px; }
    body .header .headerContainer .logo {
      width: 154px; }
    body .header .headerContainer .navbar ul {
      margin: 10px 40px 0 40px;
      width: 400px; }
    body .header .headerContainer .inicioSesionBtn {
      margin: 0 0 0 15px; }
    body .header .headerContainer .registrarmeBtn {
      margin: 0 0 0 30px; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      width: 155px;
      height: 40px;
      font-size: 16px; } }

@media (max-width: 1000px) {
  body .header {
    height: 120px;
    font-size: 12px;
    line-height: 15px; }
    body .header .headerContainer .logo {
      display: none; }
    body .header .headerContainer .logo-smartphone {
      display: block;
      width: 56px; }
    body .header .headerContainer .navbar ul {
      width: 293px;
      margin: 6px 25px 0 25px; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      height: 32px;
      width: 120px;
      font-size: 12px;
      font-weight: bold; } }

@media (max-width: 700px) {
  body .header {
    height: 170px;
    background-color: rgba(91, 61, 128, 0.1); }
    body .header .headerContainer .backBtn {
      display: block;
      position: absolute;
      border: none;
      left: 19px;
      top: 69px;
      background: rgba(255, 255, 255, 0); }
    body .header .headerContainer .logo {
      display: none; }
    body .header .headerContainer .logo-smartphone {
      display: block;
      position: absolute;
      left: calc(50% - 23px);
      top: 50px;
      margin: 0;
      width: 46px; }
    body .header .headerContainer .notificaciones {
      display: block;
      position: absolute;
      top: 63px;
      right: 45px; }
    body .header .headerContainer .navbar {
      height: 56px;
      width: 100%;
      background-color: #5B3D80;
      position: absolute;
      left: 0%;
      right: 0%;
      bottom: 0%;
      display: flex;
      margin: 0 auto; }
      body .header .headerContainer .navbar ul {
        width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500;
        justify-content: space-evenly; }
        body .header .headerContainer .navbar ul a {
          color: #88779f;
          align-self: center;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
          body .header .headerContainer .navbar ul a:focus, body .header .headerContainer .navbar ul a:hover {
            color: white; }
          body .header .headerContainer .navbar ul a:focus, body .header .headerContainer .navbar ul a:hover img {
            opacity: 1; }
          body .header .headerContainer .navbar ul a img {
            display: block;
            margin: 0 auto 4px auto;
            opacity: 0.4; }
    body .header .headerContainer .inicioSesionBtn, body .header .headerContainer .registrarmeBtn {
      display: none; } }

@media (max-width: 375px) {
  body .header .headerContainer .notificaciones {
    right: 27px; }
  body .header .headerContainer .navbar ul {
    margin: 0 24px;
    justify-content: space-between; } }

body .main {
  background: url(../media/cohete-background.jpg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 150px;
  z-index: -1; }
  body .main .mainContainer {
    position: absolute;
    width: 750px;
    height: 610px;
    right: 13.4%;
    top: 170px;
    display: flex;
    flex-flow: column nowrap; }
    body .main .mainContainer .coheteAlone {
      display: none; }
    body .main .mainContainer .h1Container {
      margin: 0 0 50px 0; }
      body .main .mainContainer .h1Container h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 85px;
        letter-spacing: 0em;
        text-align: left;
        color: #5B3D80; }
    body .main .mainContainer p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      width: 665px;
      color: #5B3D80; }
    body .main .mainContainer .descargaBtn {
      width: 380px;
      height: 55px;
      background: #6000D9;
      border-radius: 100px;
      color: white;
      border: none;
      cursor: pointer;
      transition: all .1s;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      margin: 95px 19% 0 0;
      align-self: center; }
      body .main .mainContainer .descargaBtn:hover {
        background: rgba(96, 0, 217, 0.7); }

body .womanQuestion {
  background: url(../media/woman-preguntas.svg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 1080px; }
  body .womanQuestion .womanQuestionsAlone {
    display: none; }
  body .womanQuestion .decoElements {
    position: absolute;
    width: 11.82%;
    height: 31.48%;
    top: 41.67%;
    left: 5.99%; }
  body .womanQuestion .womanQuestion--container {
    position: absolute;
    width: 39.75%;
    height: 37%;
    top: 25%;
    left: 45.57%;
    right: 54.43%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions {
      list-style-image: url(../media/item-lista.svg);
      height: 50%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
      body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px; }
    body .womanQuestion .womanQuestion--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      height: 136px; }

body #aprendo {
  background: url(../media/woman-aprendo.svg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 2160px; }
  body #aprendo .womanNetbookAlone {
    display: none; }
  body #aprendo .aprendo--container {
    position: absolute;
    top: 14.17%;
    left: 8.6%; }
    body #aprendo .aprendo--container .aprendo--container__h2 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      color: #5B3D80;
      margin: 0 0 44px 0; }
    body #aprendo .aprendo--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      width: 703px;
      height: 85px;
      color: #131313; }
    body #aprendo .aprendo--container .dots {
      display: none; }
    body #aprendo .aprendo--container .cards--container {
      margin: 110px 0 0 0; }
      body #aprendo .aprendo--container .cards--container div {
        display: flex;
        align-items: center;
        margin: 30px 0; }
        body #aprendo .aprendo--container .cards--container div span {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px; }
        body #aprendo .aprendo--container .cards--container div .m1 {
          margin: 0 0 0 42.22px; }
        body #aprendo .aprendo--container .cards--container div .m2 {
          margin: 0 0 0 44.68px; }
        body #aprendo .aprendo--container .cards--container div .m3, body #aprendo .aprendo--container .cards--container div .m4 {
          margin: 0 0 0 49px; }
        body #aprendo .aprendo--container .cards--container div .m5 {
          margin: 0 0 0 44.36px; }

body #consulta {
  background: url(../media/woman-consulta.svg);
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 3230px; }
  body #consulta .consulta--container {
    position: absolute;
    top: 14.5%;
    right: 7.3%;
    height: 18%;
    width: 42.76%; }
    body #consulta .consulta--container .consulta--container__h2 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      color: #5B3D80;
      margin: 0 0 60px 0; }
    body #consulta .consulta--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 98px 0;
      height: 99px;
      width: 91.7%; }
    body #consulta .consulta--container .dots {
      display: none; }
    body #consulta .consulta--container .descargaBtn {
      width: 380px;
      height: 55px;
      background: #6000D9;
      border-radius: 100px;
      color: white;
      border: none;
      cursor: pointer;
      transition: all .1s;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 0 125px; }
      body #consulta .consulta--container .descargaBtn:hover {
        background: rgba(96, 0, 217, 0.7); }

body #horarios {
  position: absolute;
  background: url(../media/woman-calendar.jpg);
  top: 4350px;
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain; }
  body #horarios .womanCalendarioAlone {
    display: none; }
  body #horarios .horarios--container {
    position: absolute;
    top: 7.2%;
    right: 36.5%;
    width: 56.9%;
    height: 42%; }
    body #horarios .horarios--container .horarios--container__h2 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 98px;
      color: #5B3D80;
      margin: 0 0 30px 0; }
    body #horarios .horarios--container .horarios--container__h3 {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 65px;
      color: #5B3D80;
      width: 64%;
      margin: 0 0 55px 0; }
    body #horarios .horarios--container p {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      width: 60.3%; }

@media (max-width: 2560px) {
  body .womanQuestion, body #aprendo, body #consulta, body #horarios {
    background-size: cover; } }

@media (max-width: 1920px) {
  body .womanQuestion, body #aprendo, body #consulta, body #horarios {
    background-size: contain; } }

@media (max-width: 1600px) {
  body .main .mainContainer {
    top: 140px;
    width: 650px;
    right: 9%; }
    body .main .mainContainer .h1Container h1 {
      font-size: 60px;
      line-height: 70px; }
    body .main .mainContainer p {
      font-size: 20px;
      width: 576px; }
    body .main .mainContainer .descargaBtn {
      margin: 60px 16% 0 0; }
  body .womanQuestion {
    top: 900px;
    height: 900px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 20px; }
    body .womanQuestion .womanQuestion--container p {
      font-size: 20px;
      height: 113px; }
  body #aprendo {
    top: 1800px;
    height: 900px; }
    body #aprendo .aprendo--container .aprendo--container__h2 {
      font-size: 60px;
      margin: 0 0 36.7px 0; }
    body #aprendo .aprendo--container p {
      font-size: 20px; }
    body #aprendo .aprendo--container .cards--container {
      margin: 91.6px 0 0 0; }
      body #aprendo .aprendo--container .cards--container div {
        margin: 25px 0; }
        body #aprendo .aprendo--container .cards--container div span {
          font-size: 20px; }
  body #consulta {
    top: 2700px;
    height: 900px; }
    body #consulta .consulta--container .consulta--container__h2 {
      font-size: 60px;
      line-height: 82px;
      margin: 0 0 40px 0; }
    body #consulta .consulta--container p {
      font-size: 20px; }
    body #consulta .consulta--container .descargaBtn {
      font-size: 22px;
      margin: 0 0 0 100px; }
  body #horarios {
    top: 3600px;
    height: 900px; }
    body #horarios .horarios--container .horarios--container__h2 {
      font-size: 60px;
      line-height: 82px;
      margin: 0 0 26px 0; }
    body #horarios .horarios--container .horarios--container__h3 {
      font-size: 40px;
      line-height: 54px;
      margin: 0 0 45px 0; }
    body #horarios .horarios--container p {
      font-size: 20px; } }

@media (max-width: 1440px) {
  body .womanQuestion {
    top: 810px;
    height: 810px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 18px; }
    body .womanQuestion .womanQuestion--container p {
      font-size: 18px;
      height: 102px; }
  body #aprendo {
    top: 1620px;
    height: 810px; }
    body #aprendo .aprendo--container .aprendo--container__h2 {
      font-size: 54px;
      margin: 0 0 22.5px 0; }
    body #aprendo .aprendo--container p {
      font-size: 18px;
      line-height: 22.5px;
      width: 530px; }
    body #aprendo .aprendo--container .cards--container {
      margin: 80 0 82.5px 0; }
      body #aprendo .aprendo--container .cards--container div {
        margin: 22.5px 0; }
        body #aprendo .aprendo--container .cards--container div .img1 {
          width: 37.335px; }
        body #aprendo .aprendo--container .cards--container div .img2 {
          width: 33.75px; }
        body #aprendo .aprendo--container .cards--container div .img3 {
          width: 30px; }
        body #aprendo .aprendo--container .cards--container div .img4 {
          width: 30px; }
        body #aprendo .aprendo--container .cards--container div .img5 {
          width: 33.75px; }
        body #aprendo .aprendo--container .cards--container div span {
          font-size: 18px; }
        body #aprendo .aprendo--container .cards--container div .m1 {
          margin: 0 0 0 31.6px; }
        body #aprendo .aprendo--container .cards--container div .m2 {
          margin: 0 0 0 33.51px; }
        body #aprendo .aprendo--container .cards--container div .m3, body #aprendo .aprendo--container .cards--container div .m4 {
          margin: 0 0 0 36.75px; }
        body #aprendo .aprendo--container .cards--container div .m5 {
          margin: 0 0 0 33.27px; }
  body #consulta {
    top: 2420px;
    height: 810px; }
    body #consulta .consulta--container {
      top: 15%; }
      body #consulta .consulta--container .consulta--container__h2 {
        font-size: 54px;
        line-height: 73.5px; }
      body #consulta .consulta--container p {
        font-size: 18px;
        line-height: 22.5px;
        margin: 0 0 80px 0; }
      body #consulta .consulta--container .descargaBtn {
        font-size: 20px;
        margin: 0 0 0 75px; }
  body #horarios {
    top: 3250px;
    height: 810px; }
    body #horarios .horarios--container {
      height: 38%; }
      body #horarios .horarios--container .horarios--container__h2 {
        font-size: 54px;
        line-height: 73.5px;
        margin: 0 0 26px 0; }
      body #horarios .horarios--container .horarios--container__h3 {
        font-size: 36px;
        line-height: 48.6px;
        margin: 0 0 40px 0; }
      body #horarios .horarios--container p {
        font-size: 18px;
        line-height: 22.5px; } }

@media (max-width: 1200px) {
  body .main .mainContainer {
    width: 500px;
    top: 80px;
    right: 5%; }
    body .main .mainContainer .h1Container {
      margin: 0 0 30px 0; }
      body .main .mainContainer .h1Container h1 {
        font-size: 42px;
        line-height: 55px; }
    body .main .mainContainer p {
      font-size: 16px;
      width: 420px;
      line-height: 25px; }
    body .main .mainContainer .descargaBtn {
      width: 260px;
      height: 37.5px;
      font-size: 16px; }
  body .womanQuestion {
    height: 675px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 16px; }
    body .womanQuestion .womanQuestion--container p {
      line-height: 24px;
      font-size: 16px;
      height: 85px; }
  body #aprendo {
    top: 1500px;
    height: 675px; }
    body #aprendo .aprendo--container .aprendo--container__h2 {
      font-size: 45px; }
    body #aprendo .aprendo--container p {
      font-size: 15px;
      line-height: 18.75px;
      width: 442px; }
    body #aprendo .aprendo--container .cards--container div .img1 {
      width: 31.1125px; }
    body #aprendo .aprendo--container .cards--container div .img2 {
      width: 28.325px; }
    body #aprendo .aprendo--container .cards--container div .img3 {
      width: 25px; }
    body #aprendo .aprendo--container .cards--container div .img4 {
      width: 25px; }
    body #aprendo .aprendo--container .cards--container div .img5 {
      width: 28.525px; }
    body #aprendo .aprendo--container .cards--container div span {
      font-size: 15px; }
  body #consulta {
    top: 2170px;
    height: 675px; }
    body #consulta .consulta--container .consulta--container__h2 {
      font-size: 45px;
      line-height: 61.25px; }
    body #consulta .consulta--container p {
      font-size: 15px;
      line-height: 18.75px;
      margin: 0 0 50px 0; }
    body #consulta .consulta--container .descargaBtn {
      width: 260px;
      height: 37.5px;
      font-size: 16px;
      margin: 0 0 0 60px; }
  body #horarios {
    top: 2850px;
    height: 675px; }
    body #horarios .horarios--container .horarios--container__h2 {
      font-size: 45px;
      line-height: 61.25px;
      margin: 0 0 18px 0; }
    body #horarios .horarios--container .horarios--container__h3 {
      font-size: 30px;
      line-height: 40.5px;
      margin: 0 0 35px 0; }
    body #horarios .horarios--container p {
      font-size: 15px;
      line-height: 18.75px; } }

@media (max-width: 1024px) {
  body .womanQuestion {
    top: 700px;
    height: 576px; }
    body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
      font-size: 14px; }
    body .womanQuestion .womanQuestion--container p {
      line-height: 20px;
      font-size: 14px;
      height: 72.5px; }
  body #aprendo {
    top: 1300px;
    height: 576px; }
    body #aprendo .aprendo--container {
      top: 7%; }
      body #aprendo .aprendo--container .aprendo--container__h2 {
        font-size: 38.4px;
        height: 90px;
        margin: 0; }
      body #aprendo .aprendo--container p {
        font-size: 12.8px;
        line-height: 16px;
        width: 375px;
        height: 75px; }
      body #aprendo .aprendo--container .cards--container div {
        margin: 16px 0; }
        body #aprendo .aprendo--container .cards--container div .img1 {
          width: 26.55px; }
        body #aprendo .aprendo--container .cards--container div .img2 {
          width: 24.17px; }
        body #aprendo .aprendo--container .cards--container div .img3 {
          width: 21.332px; }
        body #aprendo .aprendo--container .cards--container div .img4 {
          width: 21.332px; }
        body #aprendo .aprendo--container .cards--container div .img5 {
          width: 24.34px; }
        body #aprendo .aprendo--container .cards--container div span {
          font-size: 12.8px; }
        body #aprendo .aprendo--container .cards--container div .m1 {
          margin: 0 0 0 22.52px; }
        body #aprendo .aprendo--container .cards--container div .m2 {
          margin: 0 0 0 23.8px; }
        body #aprendo .aprendo--container .cards--container div .m3, body #aprendo .aprendo--container .cards--container div .m4 {
          margin: 0 0 0 26.1px; }
        body #aprendo .aprendo--container .cards--container div .m5 {
          margin: 0 0 0 23.66px; }
  body #consulta {
    top: 1870px;
    height: 576px; }
    body #consulta .consulta--container .consulta--container__h2 {
      font-size: 38.4px;
      line-height: 52.3px; }
    body #consulta .consulta--container p {
      font-size: 12.8px;
      line-height: 16px;
      margin: 0 0 40px 0; }
    body #consulta .consulta--container .descargaBtn {
      margin: 0 0 0 50px; }
  body #horarios {
    top: 2450px;
    height: 576px; }
    body #horarios .horarios--container .horarios--container__h2 {
      font-size: 38.4px;
      line-height: 52.3px;
      margin: 0 0 16px 0; }
    body #horarios .horarios--container .horarios--container__h3 {
      font-size: 25.6px;
      line-height: 34.56px;
      margin: 0 0 30px 0; }
    body #horarios .horarios--container p {
      font-size: 12.8px;
      line-height: 16px; } }

@media (max-width: 881px) {
  body .main .mainContainer {
    width: 380px;
    top: 40px; }
    body .main .mainContainer .h1Container h1 {
      font-size: 36px;
      line-height: 40px; }
    body .main .mainContainer p {
      font-size: 14px;
      width: 360px; }
    body .main .mainContainer .descargaBtn {
      width: 220px;
      height: 35px;
      font-size: 14px;
      margin: 50px 17% 0 0; }
  body .womanQuestion {
    top: 600px;
    height: 495px; }
    body .womanQuestion .womanQuestion--container {
      width: 50%; }
      body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
        font-size: 12px; }
        body .womanQuestion .womanQuestion--container .womanQuestion__questions li br {
          display: none; }
      body .womanQuestion .womanQuestion--container p {
        line-height: 16px;
        font-size: 12px;
        height: 62.3px; }
  body #aprendo {
    top: 1100px;
    height: 495px; }
    body #aprendo .aprendo--container {
      top: 6%; }
      body #aprendo .aprendo--container .aprendo--container__h2 {
        font-size: 33px;
        height: 90px;
        margin: 0; }
      body #aprendo .aprendo--container p {
        font-size: 11px;
        width: 322px; }
      body #aprendo .aprendo--container .cards--container div .img1 {
        width: 22.8px; }
      body #aprendo .aprendo--container .cards--container div .img2 {
        width: 20.8px; }
      body #aprendo .aprendo--container .cards--container div .img3 {
        width: 18.32px; }
      body #aprendo .aprendo--container .cards--container div .img4 {
        width: 18.32px; }
      body #aprendo .aprendo--container .cards--container div .img5 {
        width: 20.9px; }
      body #aprendo .aprendo--container .cards--container div span {
        font-size: 11px; }
  body #consulta {
    top: 1580px;
    height: 495px; }
    body #consulta .consulta--container .consulta--container__h2 {
      font-size: 33px;
      line-height: 45px;
      margin: 0 0 30px 0; }
    body #consulta .consulta--container p {
      font-size: 11px;
      margin: 0 0 15px 0; }
    body #consulta .consulta--container .descargaBtn {
      width: 220px;
      height: 35px;
      font-size: 14px;
      margin: 0 0 0 30px; }
  body #horarios {
    top: 2100px;
    height: 495px; }
    body #horarios .horarios--container .horarios--container__h2 {
      font-size: 33px;
      line-height: 45px;
      margin: 0 0 14px 0; }
    body #horarios .horarios--container .horarios--container__h3 {
      font-size: 22px;
      line-height: 29.7px;
      margin: 0 0 26px 0; }
    body #horarios .horarios--container p {
      font-size: 11px; } }

@media (max-width: 768px) {
  body .main {
    background-position-x: -30px; }
  body .womanQuestion .womanQuestion--container .womanQuestion__questions {
    list-style-image: url(../media/item-lista-mobile.svg); }
  body #aprendo {
    top: 1050px; }
    body #aprendo .aprendo--container {
      top: 3%; }
      body #aprendo .aprendo--container p {
        height: 55px; }
  body #consulta {
    top: 1480px; }
    body #consulta .consulta--container {
      width: 48%; }
      body #consulta .consulta--container .consulta--container__h2 {
        line-height: 39.2px;
        margin: 0 0 30px 0; }
      body #consulta .consulta--container p {
        height: 70px; }
  body #horarios {
    top: 1900px; }
    body #horarios .horarios--container {
      width: 62%;
      right: 32%; }
      body #horarios .horarios--container .horarios--container__h2 {
        line-height: 39.2px;
        margin: 0 0 12px 0; }
      body #horarios .horarios--container .horarios--container__h3 {
        width: 70%;
        font-size: 22px;
        line-height: 29.7px;
        margin: 0 0 22px 0; } }

@media (max-width: 700px) {
  body .main {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    body .main .mainContainer {
      position: unset;
      margin: 300px 0 0 0; }
      body .main .mainContainer .coheteAlone {
        display: block;
        position: absolute;
        top: 70px;
        width: 250px;
        align-self: center;
        animation-name: float;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; }
  @keyframes float {
    0% {
      transform: translatey(0px); }
    50% {
      transform: translatey(-20px); }
    100% {
      transform: translatey(0px); } }
      body .main .mainContainer .h1Container {
        display: none; }
      body .main .mainContainer p {
        width: 292px;
        height: 132px;
        margin: 0  0 0 61px;
        font-size: 18px;
        line-height: 22.63px;
        font-weight: 600; }
        body .main .mainContainer p br {
          display: none; }
      body .main .mainContainer .descargaBtn {
        margin: 52px 0 0 0;
        width: 270px;
        height: 48px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px; }
  body .womanQuestion {
    top: 800px;
    height: 1080px;
    background: url(../media/background-mobile.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .womanQuestion .womanQuestionsAlone {
      display: block;
      position: absolute;
      top: 0; }
    body .womanQuestion .decoElements {
      display: none; }
    body .womanQuestion .womanQuestion--container {
      top: 50%;
      left: unset;
      right: unset;
      height: 320px;
      width: 85%;
      padding: 0 0 0 20px; }
      body .womanQuestion .womanQuestion--container .womanQuestion__questions {
        order: 2;
        height: 180px; }
        body .womanQuestion .womanQuestion--container .womanQuestion__questions li {
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: 700;
          font-size: 19px;
          line-height: 23.88px;
          color: #5B3D80; }
      body .womanQuestion .womanQuestion--container p {
        order: 1;
        color: #5B3D80;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px; }
  body #aprendo {
    background: url(../media/background-mobile.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1850px;
    height: 1080px; }
    body #aprendo .womanNetbookAlone {
      display: block;
      position: absolute;
      top: 7%; }
    body #aprendo .aprendo--container {
      height: 350px;
      top: 45%;
      left: unset; }
      body #aprendo .aprendo--container .aprendo--container__h2 {
        font-size: 30px;
        font-weight: 900;
        width: 320px;
        margin: 0; }
      body #aprendo .aprendo--container p {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        height: 85px;
        width: 316px;
        text-align: center;
        color: #5B3D80; }
      body #aprendo .aprendo--container .dots {
        display: block;
        position: relative;
        top: 30px;
        left: calc(50% - 25px); }
      body #aprendo .aprendo--container .cards--container div span {
        font-size: 11px; }
  body #consulta {
    background: url(../media/background-mobile.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2900px;
    height: 908px; }
    body #consulta .consulta--container {
      width: 330px;
      top: 45%;
      left: unset;
      right: unset; }
      body #consulta .consulta--container .consulta--container__h2 {
        font-size: 30px;
        font-weight: 900;
        margin: 0 0 20px 0;
        line-height: 41px; }
      body #consulta .consulta--container p {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        height: 85px;
        width: 316px;
        text-align: center;
        color: #5B3D80;
        width: 310px;
        margin: 0 auto; }
      body #consulta .consulta--container .dots {
        display: block;
        position: relative;
        top: 30px;
        left: calc(50% - 25px); }
      body #consulta .consulta--container .descargaBtn {
        display: none; }
  body #horarios {
    background: url(../media/background-mobile.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3600px;
    height: 908px; } }

@media (max-width: 425px) {
  body .womanQuestion .womanQuestionsAlone {
    width: 100%; }
  body #aprendo .womanNetbookAlone {
    width: 100%; } }

@media (max-width: 355px) {
  body .main .mainContainer p {
    width: 90%;
    margin: 0 auto; }
  body .womanQuestion .womanQuestion--container {
    top: 40%;
    height: 350px; }
  body #aprendo .aprendo--container .aprendo--container__h2 {
    text-align: center;
    font-size: 27px; }
  body #consulta .consulta--container {
    top: 40%;
    height: 450px;
    width: 100%; }
    body #consulta .consulta--container .consulta--container__h2 {
      font-size: 27px;
      margin: 0 0 20px 10px; } }


  .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px; /* change width */
        height: 10px; /* change height */
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #A5A5A5;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .9;
        transition: opacity .6s ease;
        border-radius: 100%; /* add border-radius */
  }
    
  .carousel-indicators .active {

      background-color: #5B3D80;
  }
