body {
    #consulta {
        background: url(../media/woman-consulta.svg);
        @include backgrounds;
        top: 3230px;
        .consulta--container {
            position: absolute;
            top: 14.5%; //182px
            right: 7.3%; //140px
            height: 18%; //347px
            width: 42.76%; //821px
            .consulta--container__h2 {
                @include titulo2;
                margin: 0 0 60px 0;
            }
            p {
                @include parrafo24px(normal, 24px, 30px);
                margin: 0 0 98px 0;
                height: 99px;
                width: 91.7%;
            }
            .dots {
                display: none
            }
            .descargaBtn {
                @include descargaButton;
                @include  parrafo24px(bold, 24px, 30px);
                margin: 0 0 0 125px;
            }
        }
    }
}