//--------------------------- Solo de las secciones ------------------
@media (max-width:2560px) {
    body {
        .womanQuestion, #aprendo, #consulta, #horarios{
            background-size: cover;
        }
    }
}
@media (max-width:1920px) {
    body {
        .womanQuestion, #aprendo, #consulta, #horarios{
            background-size: contain;
        }
    }
}
@media (max-width: 1600px) {
    body {
        .main {
            .mainContainer {
                top: 140px;
                width: 650px;
                right: 9%;
                .h1Container {
                    h1 {
                        font-size: 60px;
                        line-height: 70px
                    }
                }
                p {
                    font-size: 20px;
                    width: 576px;
                }
                .descargaBtn {
                    margin: 60px 16% 0 0;
                }
            }
        }

//----------------------------- Sección Woman Question 1600px--------------------
        .womanQuestion {
            top: 900px;
            height: 900px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 20px;
                    }
                }
                p {
                    font-size: 20px;
                    height: 113px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 1600px--------------------
        #aprendo {
            top: 1800px;
            height: 900px;
            .aprendo--container {
                .aprendo--container__h2 {
                    font-size: 60px;
                    margin: 0 0 36.7px 0;
                }
                p {
                    font-size: 20px;
                }
                .cards--container {
                    margin: 91.6px 0 0 0;
                    div {
                        margin: 25px 0;
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 1600px---------------------------
        #consulta {
            top: 2700px;
            height: 900px;
            .consulta--container {
                .consulta--container__h2 {
                    font-size: 60px;
                    line-height: 82px;
                    margin: 0 0 40px 0;
                }
                p {
                    font-size: 20px;
                }
                .descargaBtn {
                    font-size: 22px;
                    margin: 0 0 0 100px;
                }
            }
        }
//----------------------------- Sección Horarios 1600px--------------------
        #horarios {
            top: 3600px;
            height: 900px;
            .horarios--container {
                .horarios--container__h2 {
                    font-size: 60px;
                    line-height: 82px;
                    margin: 0 0 26px 0;
                }
                .horarios--container__h3 {
                    font-size: 40px;
                    line-height: 54px;
                    margin: 0 0 45px 0;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    body {
        .womanQuestion {
            top: 810px;
            height: 810px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 18px;
                    height: 102px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 1440px--------------------
        #aprendo {
            top: 1620px;
            height: 810px;
            .aprendo--container {
                .aprendo--container__h2 {
                    font-size: 54px;
                    margin: 0 0 22.5px 0;
                }
                p {
                    font-size: 18px;
                    line-height: 22.5px;
                    width: 530px;
                }
                .cards--container {
                    margin: 0 0 82.5px 0;
                    div {
                        margin: 22.5px 0;
                        .img1 {
                            width: 37.335px;
                        }
                        .img2 {
                            width: 33.75px;
                        }
                        .img3 {
                            width: 30px;
                        }
                        .img4 {
                            width: 30px;
                        }
                        .img5 {
                            width: 33.75px;
                        }
                        span {
                            font-size: 18px;
                        }
                        .m1 {
                            margin: 0 0 0 31.6px;
                        }
                        .m2 {
                            margin: 0 0 0 33.51px;
                        }
                        .m3, .m4 {
                            margin: 0 0 0 36.75px;
                        }
                        .m5 {
                            margin: 0 0 0 33.27px;
                        }
                    }
                }
            }
        }
 //----------------------------- Sección Consulta 1440px---------------------------
        #consulta {
            top: 2420px;
            height: 810px;
            .consulta--container {
                top: 15%;
                .consulta--container__h2 {
                    font-size: 54px;
                    line-height: 73.5px;
                }
                p {
                    font-size: 18px;
                    line-height: 22.5px;
                    margin: 0 0 80px 0;
                }
                .descargaBtn {
                    font-size: 20px;
                    margin: 0 0 0 75px;
                }
            }
        }
//----------------------------- Sección Horarios 1440px--------------------
        #horarios {
            top: 3250px;
            height: 810px;
            .horarios--container {
                height: 38%;
                .horarios--container__h2 {
                    font-size: 54px;
                    line-height: 73.5px;
                    margin: 0 0 26px 0;
                }
                .horarios--container__h3 {
                    font-size: 36px;
                    line-height: 48.6px;
                    margin: 0 0 40px 0;
                }
                p {
                    font-size: 18px;
                    line-height: 22.5px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body {
        .main {
            .mainContainer {
                width: 500px;
                top: 80px;
                right: 5%;
                .h1Container {
                    margin: 0 0 30px 0;
                    h1 {
                        font-size: 42px;
                        line-height: 55px;
                    }
                }
                p {
                    font-size: 16px;
                    width: 420px;
                    line-height: 25px;
                }
                .descargaBtn {
                    width: 260px;
                    height: 37.5px;
                    font-size: 16px;
                }
            }
        }
//----------------------------- Sección Woman Question 1200px--------------------
        .womanQuestion {
            height: 675px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 16px;
                    }
                }
                p {
                    line-height: 24px;
                    font-size: 16px;
                    height: 85px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 1200px--------------------
        #aprendo {
            top: 1500px;
            height: 675px;
            .aprendo--container {
                .aprendo--container__h2 {
                    font-size: 45px;
                }
                p {
                    font-size: 15px;
                    line-height: 18.75px;
                    width: 442px;
                }
                .cards--container {
                    div {
                        .img1 {
                            width: 31.1125px;
                        }
                        .img2 {
                            width: 28.325px;
                        }
                        .img3 {
                            width: 25px;
                        }
                        .img4 {
                            width: 25px;
                        }
                        .img5 {
                            width: 28.525px;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 1200px---------------------------
        #consulta {
            top: 2170px;
            height: 675px;
            .consulta--container {
                .consulta--container__h2 {
                    font-size: 45px;
                    line-height: 61.25px;
                }
                p {
                    font-size: 15px;
                    line-height: 18.75px;
                    margin: 0 0 50px 0;
                }
                .descargaBtn {
                    width: 260px;
                    height: 37.5px;
                    font-size: 16px;
                    margin: 0 0 0 60px;
                }
            }
        }
//----------------------------- Sección Horarios 1200px--------------------
        #horarios {
            top: 2850px;
            height: 675px;
            .horarios--container {
                .horarios--container__h2 {
                    font-size: 45px;
                    line-height: 61.25px;
                    margin: 0 0 18px 0;
                }
                .horarios--container__h3 {
                    font-size: 30px;
                    line-height: 40.5px;
                    margin: 0 0 35px 0;
                }
                p {
                    font-size: 15px;
                    line-height: 18.75px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
//----------------------------- Sección Woman Question 1024px--------------------
        .womanQuestion {
            top: 700px;
            height: 576px;
            .womanQuestion--container {
                .womanQuestion__questions {
                    li {
                        font-size: 14px;
                    }
                }
                p {
                    line-height: 20px;
                    font-size: 14px;
                    height: 72.5px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 1024px--------------------
        #aprendo {
            top: 1300px;
            height: 576px;
            .aprendo--container {
                top: 7%;
                .aprendo--container__h2 {
                    font-size: 38.4px;
                    height: 90px;
                    margin: 0;
                }
                p {
                    font-size: 12.8px;
                    line-height: 16px;
                    width: 375px;
                    height: 75px;
                }
                .cards--container {
                    div {
                        margin: 16px 0;
                        .img1 {
                            width: 26.55px;
                        }
                        .img2 {
                            width: 24.17px;
                        }
                        .img3 {
                            width: 21.332px;
                        }
                        .img4 {
                            width: 21.332px;
                        }
                        .img5 {
                            width: 24.34px;
                        }
                        span {
                            font-size: 12.8px;
                        }
                        .m1 {
                            margin: 0 0 0 22.52px;
                        }
                        .m2 {
                            margin: 0 0 0 23.8px;
                        }
                        .m3, .m4 {
                            margin: 0 0 0 26.1px;
                        }
                        .m5 {
                            margin: 0 0 0 23.66px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 1024px---------------------------
        #consulta {
            top: 1870px;
            height: 576px;
            .consulta--container {
                .consulta--container__h2 {
                    font-size: 38.4px;
                    line-height: 52.3px;
                }
                p {
                    font-size: 12.8px;
                    line-height: 16px;
                    margin: 0 0 40px 0;
                }
                .descargaBtn {
                    margin: 0 0 0 50px;
                }
            }
        }
//----------------------------- Sección Horarios 1024px--------------------
        #horarios {
            top: 2450px;
            height: 576px;
            .horarios--container {
                // height: 38%;
                .horarios--container__h2 {
                    font-size: 38.4px;
                    line-height: 52.3px;
                    margin: 0 0 16px 0;
                }
                .horarios--container__h3 {
                    font-size: 25.6px;
                    line-height: 34.56px;
                    margin: 0 0 30px 0;
                }
                p {
                    font-size: 12.8px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media (max-width: 881px) {
    body {
        .main {
            .mainContainer {
                width: 380px;
                top: 40px;
                .h1Container {
                    h1 {
                        font-size: 36px;
                        line-height: 40px;
                    }
                }
                p {
                    font-size: 14px;
                    width: 360px;
                }
                .descargaBtn {
                    width: 220px;
                    height: 35px;
                    font-size: 14px;
                    margin: 50px 17% 0 0;
                }
            }
        }
//----------------------------- Sección Woman Question 881px--------------------
        .womanQuestion {
            top: 600px;
            height: 495px;
            .womanQuestion--container {
                width: 50%;
                .womanQuestion__questions {
                    li {
                        font-size: 12px;
                        br {
                            display: none;
                        }
                    }
                }
                p {
                    line-height: 16px;
                    font-size: 12px;
                    height: 62.3px;
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 881px--------------------
        #aprendo {
            top: 1100px;
            height: 495px;
            .aprendo--container {
                top: 6%;
                .aprendo--container__h2 {
                    font-size: 33px;
                    height: 90px;
                    margin: 0;
                }
                p {
                    font-size: 11px;
                    width: 322px;
                }
                .cards--container {
                    div {
                        .img1 {
                            width: 22.8px;
                        }
                        .img2 {
                            width:20.8px;
                        }
                        .img3 {
                            width: 18.32px;
                        }
                        .img4 {
                            width: 18.32px;
                        }
                        .img5 {
                            width: 20.9px;
                        }
                        span {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 881px---------------------------
        #consulta {
            top: 1580px;
            height: 495px;
            .consulta--container {
                .consulta--container__h2 {
                    font-size: 33px;
                    line-height: 45px;
                    margin: 0 0 30px 0;
                }
                p {
                    font-size: 11px;
                    margin: 0 0 15px 0;
                }
                .descargaBtn {
                    width: 220px;
                    height: 35px;
                    font-size: 14px;
                    margin: 0 0 0 30px;
                }
            }
        }
//----------------------------- Sección Horarios 881px--------------------
        #horarios {
            top: 2100px;
            height: 495px;
            .horarios--container {
                .horarios--container__h2 {
                    font-size: 33px;
                    line-height: 45px;
                    margin: 0 0 14px 0;
                }
                .horarios--container__h3 {
                    font-size: 22px;
                    line-height: 29.7px;
                    margin: 0 0 26px 0;
                }
                p {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        .main {
            background-position-x: -30px;
        }
//----------------------------- Sección Woman Question 768px--------------------
        .womanQuestion {
            .womanQuestion--container {
                .womanQuestion__questions {
                    list-style-image: url(../media/item-lista-mobile.svg);
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 768px--------------------
        #aprendo {
            top: 1050px;
            .aprendo--container {
                top: 3%;
                p {
                    height: 55px;
                }
            }
        }
//----------------------------- Sección Consulta 768px---------------------------
        #consulta {
            top: 1480px;
            .consulta--container {
                width: 48%;
                .consulta--container__h2 {
                    line-height: 39.2px;
                    margin: 0 0 30px 0;
                }
                p {
                    height: 70px;
                }
            }
        }
//----------------------------- Sección Horarios 768px--------------------
        #horarios {
            top: 1900px;
            .horarios--container {
                width: 62%;
                right: 32%;
                .horarios--container__h2 {
                    line-height: 39.2px;
                    margin: 0 0 12px 0;
                }
                .horarios--container__h3 {
                    width: 70%;
                    font-size: 22px;
                    line-height: 29.7px;
                    margin: 0 0 22px 0;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    body {
        .main {
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            .mainContainer {
                position: unset;
                margin: 300px 0 0 0;
                .coheteAlone {
                    display: block;
                    position: absolute;
                    top: 70px;
                    width: 250px;
                    align-self: center;

                    animation-name: float;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;

                    @keyframes float {
                        0% {
                        
                            transform: translatey(0px);
                        }
                        50% {
                            
                            transform: translatey(-20px);
                        }
                        100% {
                        
                            transform: translatey(0px);
                        }
                    }
                }
                .h1Container {
                    display: none;
                }
                p {
                    width: 292px;
                    height: 132px;
                    margin: 0  0 0 61px;
                    font-size: 18px;
                    line-height: 22.63px;
                    font-weight: 600;
                    br {
                        display: none;
                    }
                }
                .descargaBtn {
                    margin: 52px 0 0 0;
                    width: 270px;
                    height: 48px;
                    @include parrafo24px(bold, 18px, 23px)
                }
            }
        }
//----------------------------- Sección Woman Question 700px--------------------
        .womanQuestion {
            top: 800px;
            height: 1080px;
            @include mobile-backgrounds;
            .womanQuestionsAlone {
                display: block;
                // width: 100%;
                position: absolute;
                top: 0;
            }
            .decoElements {
                display: none;
            }
            .womanQuestion--container {
                top: 50%;
                left: unset;
                right: unset;
                height: 320px;
                width: 85%;
                padding: 0 0 0 20px;
                .womanQuestion__questions {
                    order: 2;
                    height: 180px;
                    li {
                        @include parrafo24px(700, 19px, 23.88px);
                        color: $violeta;
                    }
                }
                p {
                    order: 1;
                    color: $violeta;
                    @include parrafo24px(600, 15px, 22px); //18.86px
                }
            }
        }
//----------------------------- Sección Aprende con nosotros 700px--------------------
        #aprendo {
            @include mobile-backgrounds;
            top: 1850px;
            height: 1080px;
            .womanNetbookAlone {
                display: block;
                position: absolute;
                top: 7%;
            }
            .aprendo--container {
                height: 350px;
                top: 45%;
                left: unset;
                .aprendo--container__h2 {
                    font-size: 30px;
                    font-weight: 900;
                    width: 320px;
                    margin: 0;
                }
                p {
                    @include pMobile;
                }
                .dots {
                    display: block;
                    position: relative;
                    top: 30px;
                    left: calc(50% - 25px);
                }
                .cards--container {
                    div {
                        span {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
//----------------------------- Sección Consulta 700px---------------------------
        #consulta {
            @include mobile-backgrounds;
            top: 2900px;
            height: 908px;
            .consulta--container {
                width: 330px;
                top: 45%;
                left: unset;
                right: unset;
                .consulta--container__h2 {
                    font-size: 30px;
                    font-weight: 900;
                    margin: 0 0 20px 0;
                    line-height: 41px
                }
                p {
                    @include pMobile;
                    width: 310px;
                    margin: 0 auto;
                }
                .dots {
                    display: block;
                    position: relative;
                    top: 30px;
                    left: calc(50% - 25px);
                }
                .descargaBtn {
                    display: none;
                }
            }
        }
//----------------------------- Sección Horarios 700px--------------------
        #horarios {
            @include mobile-backgrounds;
            top: 3600px;
            height: 908px;
        //     .horarios--container {   INTERRUMPIDO POR CREACION DE PAGINAS HTML PARA MOBILE
        //         width: 62%;
        //         right: 32%;
        //         .horarios--container__h2 {
        //             line-height: 39.2px;
        //             margin: 0 0 12px 0;
        //         }
        //         .horarios--container__h3 {
        //             width: 70%;
        //             font-size: 22px;
        //             line-height: 29.7px;
        //             margin: 0 0 22px 0;
                // }
            // }
        }
    }
}

@media (max-width: 425px) {
    body {
//----------------------------- Sección Woman Question --------------------
        .womanQuestion {
            .womanQuestionsAlone {
                width: 100%;
            }
        }
//----------------------------- Sección Aprende con nosotros --------------------
        #aprendo {
            .womanNetbookAlone { 
                // width: 80%;
                // margin: 0 auto;
                width: 100%;
            }
        }
//----------------------------- Sección Consulta 425px---------------------------
//         #consulta {
//             .consulta--container {
//             }
//         }
    }
}

@media (max-width: 355px) {
    body {
        .main {
            .mainContainer {
                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
//----------------------------- Sección Woman Question 355px--------------------
        .womanQuestion {
            .womanQuestion--container {
                top: 40%;
                height: 350px;
            }
        }
//----------------------------- Sección Aprendo 355px---------------------------
        #aprendo {
            .aprendo--container {
                .aprendo--container__h2 {
                    text-align: center;
                    font-size: 27px;
                }
            }
        }
//----------------------------- Sección Consulta 355px---------------------------
        #consulta {
            .consulta--container {
                top: 40%;
                height: 450px;
                width: 100%;
                .consulta--container__h2 {
                    font-size: 27px;
                    margin: 0 0 20px 10px;
                }
            }
        }
    }
}