body {
    .womanQuestion {
        background: url(../media/woman-preguntas.svg);
        @include backgrounds;
        top: 1080px;
        .womanQuestionsAlone {
            display: none;
        }
        .decoElements {
            position: absolute;
            width: 11.82%;
            height: 31.48%;
            top: 41.67%;
            left: 5.99%;
        }
        .womanQuestion--container {
            position: absolute;
            width: 39.75%; //763px
            height: 37%; //400 px ---375px 34.7%
            top: 25%; //270  25%
            left: 45.57%; //875  45.57%
            right: 54.43%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            .womanQuestion__questions {
                list-style-image: url(../media/item-lista.svg);
                height: 50%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                li {
                    @include parrafo24px(bold, 24px, 30px);
                }
            }
            p {
                @include parrafo24px(400, 24px, 30px);
                height: 136px;
            }
        }
    }
}